body {
    background: #fff;
    color: #666;
    font-family: open sans, sans-serif
}

a {
    color: #8dc63f;
    transition: .5s
}

a:hover, a:active, a:focus {
    color: #8dc63f;
    outline: none;
    text-decoration: none
}

p {
    padding: 0;
    margin: 0 0 30px
}

h1, h2, h3, h4, h5, h6 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #18d26e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#header {
    padding: 20px 0;
    height: 72px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all .5s;
    z-index: 997;
    background: rgba(0, 0, 0, .7);
}

#header.header-scrolled {
    background: #9E5BBA;
    padding: 20px 0;
    height: 72px;
    transition: all .5s;
    margin-top: 0;
}

#header #logo {
    float: left
}

#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 3px
}

#header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid #8DC63F;
}

#header #logo img {
    padding: 0;
    margin: 0
}

#intro {
    display: table;
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
}

#intro .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

#intro .carousel-item::before {
    content: '';
    /* background-color: rgba(0, 0, 0, .7); */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

#intro .carousel-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0
}

#intro .carousel-background img {
    max-width: 100%
}

#intro .carousel-content {
    background-color: #9e5bba;
    text-align: center;
    width: 100%;
}

#intro h2 {
    color: #fff;
    margin-bottom: 15px;
    padding-top: 15px;
    font-size: 32px;
    font-weight: 700
}

#intro p {
    width: 80%;
    margin: 0 auto 6px;
    color: #fff
}

#intro .carousel-fade {
    overflow: hidden
}

#intro .carousel-indicators {
    display: none;
}

#intro .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity
}

#intro .carousel-fade .carousel-inner .carousel-item, #intro .carousel-fade .carousel-inner .active.carousel-item-left, #intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0
}

#intro .carousel-fade .carousel-inner .active, #intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left, #intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: .5s
}

#intro .carousel-fade .carousel-inner .carousel-item-next, #intro .carousel-fade .carousel-inner .carousel-item-prev, #intro .carousel-fade .carousel-inner .active.carousel-item-left, #intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#intro .carousel-control-prev, #intro .carousel-control-next {
    width: 10%
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
    background: 0 0;
    font-size: 32px;
    line-height: 1
}

#intro .carousel-indicators li {
    cursor: pointer
}

#intro .btn-get-started {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: .5s;
    margin: 10px;
    color: #fff;
    background: #8DC63F;
}

#intro .btn-get-started:hover {
    background: #fff;
    color: #8dc63f;
}

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99
}

.nav-menu li {
    position: relative;
    white-space: nowrap
}

.nav-menu>li {
    float: left
}

.nav-menu li:hover>ul, .nav-menu li.sfHover>ul {
    display: block
}

.nav-menu ul ul {
    top: 0;
    left: 100%
}

.nav-menu ul li {
    min-width: 180px
}

.sf-arrows .sf-with-ul {
    padding-right: 30px
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105"
}

#nav-menu-container {
    float: right;
    margin: 0
}

.nav-menu a {
    padding: 0 5px 10px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    outline: none
}

.nav-menu li:hover>a, .nav-menu>.menu-active>a {
    color: #8DC63F;
}

.nav-menu>li {
    margin-left: 10px
}

.nav-menu ul {
    margin: 4px 0 0;
    padding: 10px;
    box-shadow: 0 0 30px rgba(127, 137, 161, .25);
    background: #fff
}

.nav-menu ul li {
    transition: .3s
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: .3s;
    display: block;
    font-size: 13px;
    text-transform: none
}

.nav-menu ul li:hover>a {
    color: #8DC63F;
}

.nav-menu ul ul {
    margin: 0
}

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: 0 0;
    font-size: 24px;
    display: none;
    transition: all .4s;
    outline: none;
    cursor: pointer
}

#mobile-nav-toggle i {
    color: #fff
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, .8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: .4s
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#mobile-nav ul li {
    position: relative
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
    font-family: montserrat, sans-serif
}

#mobile-nav ul li a:hover {
    color: #18d26e
}

#mobile-nav ul li li {
    padding-left: 30px
}

#mobile-nav ul li.menu-active a {
    color: #18d26e
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #18d26e
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none
}

#mobile-nav ul .menu-item-active {
    color: #18d26e
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    display: none
}

body.mobile-nav-active {
    overflow: hidden
}

body.mobile-nav-active #mobile-nav {
    left: 0
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff
}


@media(min-width:768px) {
    #contact .contact-address, #contact .contact-phone, #contact .contact-email {
        padding: 20px 0
    }
    #contact .contact-phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd
    }
}

@media(min-width:992px) {
    #testimonials .testimonial-item p {
        width: 80%
    }
}

@media(min-width:1024px) {
    #header #logo {
        padding-left: 60px
    }
    #intro p {
        width: 60%
    }
    #intro .carousel-control-prev, #intro .carousel-control-next {
        width: 5%
    }
    #nav-menu-container {
        padding-right: 60px
    }
}

@media(max-width:768px) {
    .back-to-top {
        bottom: 15px
    }
    #header #logo h1 {
        font-size: 28px
    }
    #header #logo img {
        max-height: 40px
    }
    #intro h2 {
        font-size: 28px
    }
    #nav-menu-container {
        display: none
    }
    #mobile-nav-toggle {
        display: inline
    }
    .top-bar {
        /* display: none; */
    }
}

.second-header {
    margin-bottom: 50px;
    margin-top: 30px;
}

.logo {
    position: absolute;
    bottom: 53px;
    right: 0;
    z-index: 99;
    padding: 20px;
}

.logo img {
    width: 100px;
}

/* middle section */
.middle-part {
    background-color: #ebebeb;
    border: 0px solid #e0e0e0;
}
.middle-part > div {
    padding: 0;
}
.middle-part .mt-widget-1 {
    padding: 0;
    border: none;
    text-align: center;
    position: relative;
}
.middle-part .mt-widget-1 .mt-img {
    margin: 10px 0 0px;
    display: inline-block;
    border-radius: 50% !important;
    border: 4px solid #e7ecf1;
    height: 72px;
    width: 72px;
}
.middle-part .mt-img-2 {
    background: url('../img/circle2-normal.png') 100% 100% no-repeat #FFFFFF;
    background-size: contain;
}
.middle-part .mt-img-1 {
    background: url('../img/circle1-normal.png') 100% 100% no-repeat #FFFFFF;
    background-size: contain;
}
.middle-part .mt-img-3 {
    background: url(../img/circle5-normal.png) 100% 100% no-repeat #FFFFFF;
    background-size: contain;
}
.middle-part .mt-img-4 {
    background: url(../img/circle4-normal.png) 100% 100% no-repeat #FFFFFF;
    background-size: contain;
}
.middle-part .mt-widget-1:hover .mt-img-4 {
    background: url(../img/circle4-pressed.png) 100% 100% no-repeat #FFFFFF;
    background-size: contain;
}
.middle-part .mt-widget-1:hover .mt-img-1 {
    background: url(../img/circle1-pressed.png) 100% 100% no-repeat #FFFFFF;
    background-size: contain;
}
.middle-part .mt-widget-1:hover .mt-img-3 {
    background: url('../img/circle5-pressed.png') 100% 100% no-repeat #FFFFFF;
    background-size: contain;
}
.middle-part .mt-widget-1:hover .mt-img-2 {
    background: url(../img/circle2-pressed.png) 100% 100% no-repeat #FFFFFF;
    background-size: contain;
}
.middle-part .mt-widget-1 {
    padding: 0px;
    border: none !important;
}
.middle-part .mt-widget-1 .mt-body {
    border-right: 1px dashed #a6a6a6;
}
.mt-widget-1 .mt-body .mt-username {
    color: #262626;
    margin: 15px 0px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.mt-widget-1 .mt-body .mt-user-title {
    color: #737373;
    overflow: visible;
    height: 90px;
    text-align: center;
    margin: 10px;
    font-size: 13px;
}
.mt-widget-1:hover {
    text-shadow: 1px 1px white;
    cursor: pointer;
}
.middle-part .mt-widget-1 .mt-body.x {
    border-right: 0px;
}

.bottom-part .col-md-2 {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bottom-part .col-md-2:nth-child(odd) .mt-widget-1 {
    background-color: #FAF7FC;
}
.bottom-part .col-md-2:nth-child(even) .mt-widget-1 {
    background-color: #F0F9F4;
}
.bottom-part .mt-widget-1 {
    border-radius: 0 0 6px 6px;
}
.mt-widget-1 {
    border: 1px solid #e7ecf1;
    text-align: center;
    position: relative;
    border-color: #d7dce1;
}
.bottom-part .mt-widget-1 .mt-img {
    border-radius: 0;
    border: 0;
    margin: 15px 0 10px;
    display: inline-block;
}
.bottom-part .mt-widget-1 .mt-img > img {
    border-radius: 0;
    height: 33px;
}
.mt-widget-1 .mt-body .mt-stats {
    margin: 15px 0 0;
}
.mt-widget-1 .mt-body .mt-stats .btn-group {
    border-top: 1px solid #e7ecf1;
}
.mt-widget-1 .mt-body .mt-stats .btn-group .btn:first-child {
    border-bottom-left-radius: 4px!important;
}
.mt-widget-1 .mt-body .mt-stats .btn-group .btn:last-child {
    border: 0;
    border-bottom-right-radius: 4px!important;
}
.mt-widget-1 .mt-body .mt-stats .btn-group .btn {
    font-size: 16px;
}
.mt-widget-1 .mt-body .mt-stats .btn-group .btn {
    padding: 10px;
}
.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.a2ipurple {
    background-color: #4f008c;
    color: white;
}
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.bottom-part .mt-widget-1 button {
    width: 100%;
}
.mt-stats div, .mt-stats button {
    border-radius: 0;
}
.bottom-part .col-md-2 .mt-widget-1:hover .mt-body .btn-group .btn.a2igreen {
    color: #009444;
}
.a2igreen {
    background-color: #009444;
    color: white;
}
.bottom-part .col-md-2 .mt-widget-1:hover .mt-body .btn-group .btn.a2ipurple {
    color: #4f008c;
}
.bottom-part .col-md-2 .mt-widget-1:hover .mt-body .btn-group .btn {
    background-color: #e7ecf1;
}
/* end middle section */

/* footer like gsr */
footer {
    color: #7030a0;
    font-size: 14px;
    background: #fff;
    border-top: 7px solid #d9d9d9;
    padding: 5px 0;
    clear: both;
}
.fa-ul {
    margin: 0;
}
.footer-block li {
    font-size: 14px;
    line-height: 18px;
    color: #000;
}
footer h4 {
    margin-top: 10px;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}
footer a, footer h2 {
    color: #000080;
}
footer a:hover {
    color: #000080;
    text-decoration: underline;
}
.footer_logos {
    list-style: none;
}
.footer_logos li {
    float: right;
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;
    color: #000;
}
.copy-right-title {
    color: #696969;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}
.copy-right-title p {
    margin: 0;
}
/* end footer like gsr */
