
@media  screen and (max-width:1537px) {

    img.img-fluid.lapimg {
        position: absolute;
        top: 18px;
    }

    .centerlogo {
        margin-top: 60px;
    }

    .parliamentlogin {
        width: 43%;
        margin: 0% auto;
    }
}
@media  screen and (max-width:1367px) {

    img.img-fluid.lapimg {
        position: absolute;
        top: 18px;
        height: auto;
        width: 80%;
    }

    .centerlogo {
        margin-top: 60px;
    }

    .centerlogo img {
        width: 100px;
    }

    .leftlogo img {
        width: 100px;
        height: auto;
    }

    .parliamentlogin {
        width: 43%;
        margin: 0% auto;
    }
}

@media  screen and (max-width:992px) {

    .submitbutton {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        justify-content: space-between;
    }

    .submitbutton .customenothi {
        padding: 8px 18px;
    }

    .submitbutton .customprobes {
        padding: 5px 10px;
    }
}

@media  screen and (max-width:768px) {

    .leftlogo img {
        width: 105px;
        height: auto;
    }
    .centerlogo {
        margin-top: 180px;
    }

    .centerlogo img {
        width: 100px;
    }

    .parliamentlogin {
        width: 65%;
        margin: 0% auto;
    }

    .submitbutton {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
    }

    .submitbutton .customenothi {
        font-size: 12px;
    }

    .submitbutton .customprobes {
        font-size: 12px;
    }
}

@media  screen and (max-width:355px) {
    img.img-fluid.lapimg {
        position: absolute;
        top: 18px;
        height: auto;
        width: 100%;
    }
    .rightlogo img {
        width: 80px;
        height: auto;
    }
    .leftlogo img {
        width: 80px;
        height: auto;
    }

    .centerlogo {
        margin-top: 130px;
    }
    .parliamentlogin {
        width: 100%;
        margin: 10% auto;
    }

}
