
@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

/*====================== Reset Code ==================== */


body{
    font-family: 'SolaimanLipi', sans-serif;
}

/*====================== Reset Code End==================== */

/*====================== Top Logo Code ==================== */

.toplogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftlogo{
    margin-top: 30px;
}

.leftlogo img {
    width: 185px;
    height: auto;
}


.rightlogo {
    margin-top: 30px;
}

.rightlogo img {
    width: 120px;
    height: auto;
}

.centerlogo{

    margin-top: 130px;


}
.centerlogo img {
    width: 180px;
}

/*====================== Top Logo Code End==================== */


/*====================== Form Code ==================== */


.submitbutton {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}



.formtitle {
    display: flex;
    float: left;
    flex-wrap: wrap;
}

.parliamentlogin {
    width: 43%;
    margin: 3% auto;
}


.submitbutton button {

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.submitbutton .customenothi {
    margin-right: 20px;
    padding: 8px 25px;
    background-color: #ECCF3E;
    color: #000;
    border: none;
}



.submitbutton .customprobes {
    padding: 5px 25px;
    background-color: #1BBB6B;
    color: #fff;
    border: none;
}





.parliamentlogin h3 {
    font-size: 25px;
    margin-bottom: 8px;
}
.checkbox a {
    color: #fff;
    text-decoration: none;
}


.mainlogin{
    position: relative;
}
.plogin {
    background-image: url(img/home2/BG.png);
    background-size: cover;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #fff;

}

/*====================== Form Code End==================== */

/*====================== Sondshod baban Image ==================== */

.songshodbaban {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

    position: relative;
}

img.img-fluid.lapimg {
    position: absolute;
    top: 90px;
}

/*====================== Sondshod baban Image ==================== */


