.search-loader-container-circle {
    width: 70vw;
    height: 100vh;
    /*background-color: #111;*/
    background-color: transparent;
    position: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 3;
}

.search-loader-circle {
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    25% {
        color: #2ecc71;
    }
    50% {
        color: #f1c40f;
    }
    75% {
        color: #e74c3c;
    }
    to {
        transform: rotate(360deg);
    }
}