@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    background: #fff;
}

.onlyborder {
    width: 100%;
    border: 1px solid #0098BF;
    border-radius: 15px;
}

.sub_title_top {
    padding: 20px;
    padding-bottom: 0;
}

.sub_title h4 {
    color: #0098BF;
    font-weight: 500;
    margin-bottom: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #F8F8F8;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 15px;
    font-family: 'Roboto', 'SolaimanLipi', sans-serif;
}

@media (max-width: 767.98px) {
    .sub_title h4 {
        font-size: 1.4rem;
        margin-top: -30px;
    }
}

@media (min-width: 768px) {
    .sub_title h4 {
        font-size: 1.8rem;
        margin-top: -33px;
    }
}

.complete_patient {
    background: linear-gradient(to right, #9861C2, #6132B2);
    color: #fff;
    width: 90%;
    display: block;
    float: left;
    margin-left: 60px;
    border-radius: 12px;
    text-align: center;
}

.complete_patient_title h3 {
    font-family: 'Roboto', 'SolaimanLipi', sans-serif;
    font-size: 30px;
    margin-top: 40px;
    display: inline-block;
    margin-right: 30px;
}

.complete_patient_title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 17px;
    justify-content: flex-end;
}

.patient_count {
    background-color: #945EC1;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', 'SolaimanLipi', sans-serif;
}


.patient_count2 {
    background-color: #945EC1;
    border-radius: 50%;
    text-align: center;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', 'SolaimanLipi', sans-serif;
}

.add-btn {
    background: #1db4c5;
    color: white;
    border-radius: 6px;
}

.remove-btn {
    background: #ebebeb;
    color: #ff6a6a;
    border-radius: 6px;
}

.cancel-btn {
    background: #ff6a6a;
    border-radius: 6px !important;
}

.submit-btn {
    background: #4a87e2;
    border-radius: 6px !important;
}


@media (min-width: 768px) {
    .prescription-parliament-info {
        margin-left: -200px !important;
    }
}

.prescription-parliament-info2 {
    margin-left: -170px !important;
}

.table-content {
    background: #f3f3f3;
    color: #212121 !important;
    border-radius: 3px;
    overflow: hidden
}

table {
    font-family: 'Roboto', 'SolaimanLipi', sans-serif;
    font-size: 1.1rem !important;
}

td {
    font-family: 'Roboto', 'SolaimanLipi', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

th {
    font-family: 'Roboto', 'SolaimanLipi', sans-serif;
    font-size: 1.1rem;
    font-weight: 600 !important;
}

.up-down-link {
    margin-left: 8px;
}

.up-link {
    margin-right: 8px;
    color: red !important;
    cursor: pointer;
}

.down-link {
    color: #0abb87 !important;
    cursor: pointer;
}

.btn-border-radius {
    border-radius: 6px;
}

.dashboard-card-border-radius {
    border-radius: 10px;
}

.second-section {
    margin-top: -800px !important;
}

.table-title {
    font-weight: normal;
    color: #0098bf;
}

h5.table-title {
    font-weight: bold;
}

.delete-trash-btn {
    padding-left: 18px;
    background-color: #ff6a6a;
    color: white;
    border-radius: 6px;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/*metronic default class modify*/
/*.kt-grid .kt-grid--hor {*/
/*    width: 98.5% !important;*/
/*    margin-top: .40%!important;*/
/*    margin-left: .45%!important;*/
/*}*/

.kt-portlet {
    margin-bottom: 0;
    background: white !important;
    box-shadow: none;
}

.kt-subheader__title, .kt-portlet__head-title {
    font-family: 'Roboto', 'SolaimanLipi', sans-serif;
    font-size: 1.5rem !important;
}

.kt-content, .kt-portlet__body, .kt-portlet__head {
    font-family: 'Roboto', "SolaimanLipi" !important;
    font-size: 1.1rem !important;
}

.form-group label {
    font-size: 1.1rem !important;
    font-weight: 400 !important;
}

input.form-control, select.form-control, textarea.form-control {
    letter-spacing: 0.01rem !important;
}


.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items .kt-wizard-v3__nav-item[data-ktwizard-state="current"] .kt-wizard-v3__nav-body {
    color: #84c89a !important;
}

.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items .kt-wizard-v3__nav-item[data-ktwizard-state="current"] .kt-wizard-v3__nav-body .kt-wizard-v3__nav-bar:after {
    width: 100%;
    background-color: #84c89a !important;
}

.nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link.active {
    color: #ea4685 !important;
    border-bottom: 1px solid #ea4685 !important;
}

.select2-selection__arrow:before {
    display: none !important;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

.select2-selection__arrow:after {
    font-family: FontAwesome;
    content: "\f078";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

/*.select2-selection {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

@media print {
    .table-content {
        border: 1px solid black;
    }

    #reportXlButton {
        display: none;
    }

    #reportPrinter {
        display: none;
    }

    .viewButton {
        display: none;
    }
}

.row-margin {
    margin-bottom: -15px;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


@media screen and (max-width: 1780px) {
    #check:checked ~ .leftmenuarea .logoarea img {
        margin-left: 76%;
    }

    #check:checked ~ .leftmenuarea span.menuimg img {
        margin-left: 76%;
    }

    .admit_patient_title h3 {
        font-size: 28px;
    }

}

/* ===================Home Page Responsive code ===================== */
@media screen and (max-width: 1600px) {
    .admit_patient_title h3 {
        font-size: 28px;
    }
}

/* ===================Home Page Responsive code ===================== */
@media screen and (max-width: 1537px) {

    .complete_patient_title h3 {
        font-size: 24px;

    }
}

@media screen and (max-width: 1427px) {

    .complete_patient_title h3 {
        font-size: 20px;

    }
}

@media screen and (max-width: 1367px) {

    .complete_patient_title h3 {
        font-size: 19px;

    }

    .complete_patient_title {
        padding: 30px 10px;
    }

}

@media screen and (max-width: 1257px) {

    .complete_patient_title {
        padding: 30px 8px;
    }
}

@media screen and (max-width: 1207px) {

    .complete_patient_title {
        justify-content: space-around;
    }

    .complete_patient_title h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 1080px) {

    .complete_patient_title h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 941px) {

    .complete_patient {
        width: 100%;
        margin-left: 10px;
    }
}

@media screen and (max-width: 850px) {
    .complete_patient_title h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 772px) {
    .complete_patient {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }
}

/*....................*/
@media (max-width: 576px) {
    .second-section {
        margin-top: -800px !important;
    }
}


@media (min-width: 768px) {
    .second-section {
        margin-top: -500px !important;
    }
}

@media (min-width: 992px) {
    .second-section {
        margin-top: -50px !important;
    }
}

@media (max-width: 767.98px) {
    .delete-trash-btn {
        padding-left: 17px;
    }

    .form-group {
        margin-bottom: 1.75rem !important;
    }
}

/*==========Tab group employee Edit============*/
.tab-group {

    width: 100%;
}

.tab-group .btn.active {
    background-image: linear-gradient(#45c3f1, #4b94dc);
    color: white;
    position: relative;
}

.tab-group .btn.active i {

    color: white;
}

.tab-group .col-md-2 {

    padding-left: 5px !important;
    padding-right: 5px !important;
}

.tab-group .btn {

    border: none;
    padding: 1px 0;
    width: 100%;
    color: #000;
    background-color: #e2e2e2;
    font-size: 18px;
}

.tab-group .btn i {

    color: #0098bf;
    font-size: 20px;
}

.tab-group .btn.active:hover {
    color: white !important;
}

.tab-group .btn:hover {
    color: #000000 !important;
}

.tab-group button {

    padding: 15px !important;
    font-size: 14px;
}

.card-header h5 {

    margin: 0;
    font-size: 14px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4a95dc;
    margin: auto;
}

label span {
    color: red;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    /*background: #f7f8fa;*/
    /*color: #a7abc3;*/
    background: #00a1d4 !important;
    color: #fff !important;
}

.select2-container--default .select2-results__option.select2-results__option--highlighted {
    background: #e0f2f1;
    color: #333;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user img {
    max-height: 35px;
    border-radius: 100%;
}

@media (min-width: 991.98px) {
    .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user img {
        max-height: 45px;
        border-radius: 100%;
    }
}

@media (min-width: 1199.98px) {
    .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user img {
        max-height: 50px;
        border-radius: 100%;
    }
}

#kt_header, .kt-header__topbar {
    background: #0076A7 !important;
    /*background: #F5F0E1;*/
}

.bootstrap-switch {
    border-color: #0076A7;
}

.kt-badge.kt-badge--danger {
    color: #212121;
    font-weight: bold;
    background: #ffffff;


}

.kt-header .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon i {
    color: #ffffff;
}

.kt-header .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user {
    color: #ffffff !important;
    font-weight: 600 !important;
    letter-spacing: .05rem;
}

.kt-header__topbar-username {
    color: #ffffff !important;
    font-weight: 500 !important;
    letter-spacing: .01rem;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading,
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link {
    background-color: #1F5C7A !important;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
    background-color: #1F5C7A !important;
}

/*.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text,*/
/*.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {*/
/*    color: #ffffff;*/
/*}*/

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--open > .kt-menu__heading,
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--open > .kt-menu__link {
    background-color: #1F5C7A;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
    /*color: #ffffff;*/
    background-color: #1F5C7A;
}


/* width */
*::-webkit-scrollbar {
    width: 10px;
    border-radius: 24px;
    height: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 24px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #d2d2d2;
    border-radius: 24px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #9f9f9f;
    border-radius: 24px;
}

.table-responsive {
    max-height: 70vh !important;
    overflow-y: auto;
}

.only-for-print-report {
    display: none;
}

@media screen {
    table thead {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: -1px !important;
        z-index: 1;
    }

    #reportTable table {
        table-layout: fixed;
    }

    #reportTable thead th:first-child {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        left: 0;
        display: block;
        background: #d5f5fd;
        color: #0098BF;
        font-weight: bold;
    }

    #reportTable tbody td:first-child {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        left: 0;
        background: #d5f5fd;
        color: #0098BF;
        font-weight: bold;
    }

}

@media print {
    tfoot {
        display: table-row-group;
    }

    thead {
        display: table-row-group;
    }
}

.textAreaInput {
    min-height: 6rem;
}
