/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* ============================================
    General
=============================================== */

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.toplef img {
    margin: 0px 0px 0px 30px;
    width: 95px;
    height: 95px;
    line-height: 95px;
}

.topright img {
    margin: 0px 30px 0px 0px;
    width: 163px;
    height: 113px;
}


body {
    font-family: 'SolaimanLipi' !important;
    max-width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* ============================================
    Top Logo area
=============================================== */
.toparea {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* ============================================
 Middle area
=============================================== */

.middlearea {
    width: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.middleimage {
    width: 60%;

}

.middleimage img {
    width: 100%;
    height: 100%;
}

.middleform {
    width: 40%;
}

.middleform {
    position: relative;
}


.formprp img {
    width: 130px;
    height: 65px;
    margin-bottom: 30px;
}

.submitform img {
    float: right;
    text-align: right;
}

.passwordtext a {
    text-align: left;
    float: left;
    color: #fff !important;
    font-size: 18px;
    font-family: 'SolaimanLipi' !important;
}


/* ============================================
    Form area
=============================================== */


.box {
    width: 590px;
    height: 260px;
    padding: 40px 0px 40px 65px;
    position: absolute;
    top: 60%;
    left: 58.5%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: 2px solid transparent;
}

.box h1 {
    color: white;
    font-weight: 500;
    font-size: 30px;
}

.box input[type="text"], .box input[type="password"] {
    border: 0;
    display: block;
    margin: 10px auto 23px;
    /*text-align: left;*/
    /*border: 1px solid white;*/
    /*padding: 14px 10px;*/
    height: 45px;
    padding: 0 12px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    /*background: url('img/nomal_textfield.png') no-repeat right #fff;*/
    background: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*background-position-x: 97%;*/

}

.box input[type="text"]:hover, .box input[type="password"]:hover {
    /*background: url('img/hover_textfield.png') no-repeat right #fff;*/
    background: #fff;
}


.box input[type="text"]::-webkit-input-placeholder, .box input[type="password"]::-webkit-input-placeholder {
    color: #007FB2;
    font-size: 1rem;
    font-family: 'SolaimanLipi' !important;
    font-weight: 300s;
}

.box input[type="text"]::-moz-placeholder, .box input[type="password"]::-moz-placeholder {
    color: #007FB2;
    font-size: 1rem;
    font-family: 'SolaimanLipi' !important;
    font-weight: 300s;
}

.box input[type="text"]:-ms-input-placeholder, .box input[type="password"]:-ms-input-placeholder {
    color: #007FB2;
    font-size: 1rem;
    font-family: 'SolaimanLipi' !important;
    font-weight: 300s;
}

.box input[type="text"]::-ms-input-placeholder, .box input[type="password"]::-ms-input-placeholder {
    color: #007FB2;
    font-size: 1rem;
    font-family: 'SolaimanLipi' !important;
    font-weight: 300s;
}

.box input[type="text"]::placeholder, .box input[type="password"]::placeholder {
    color: #007FB2;
    font-size: 1rem;
    font-family: 'SolaimanLipi' !important;
    font-weight: 300s;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 0px 10px;
    padding: 12px 20px;
    color: #fff;
    background: #00C2D1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.box input.entry[type="submit"] {
    background: #02C94A;
}

.box input[type="submit"]:last-child {
    margin-right: 0px;
}

.allsubmitbutton {
    display: block;
    float: left;
    width: 100%;
}


/* ============================================
   Responsive Design
=============================================== */

@media screen and (max-width: 1790px) {
    .box {
        left: 45%;

    }

    .middlearea {
        margin-top: 120px;
    }

}

@media screen and (max-width: 1537px) {


    .middlearea {
        margin-top: 0px;
    }


    body {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .box {
        left: 47%;
    }


    .toplef img {
        margin: 0px 0px 0px 30px;
        width: 95px;
        height: 95px;
        line-height: 95px;
    }


    .middleimage img {
        height: 100%;
        width: 100%;
    }

    .topright img {
        margin: 0px 30px 0px 0px;
        width: 163px;
        height: 113px;
    }
}

@media screen and (max-width: 1367px) {
    body {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }


    .toplef img {
        margin: 0px 0px 0px 20px;
        width: 90px;
        height: 90px;
        line-height: 90px;
    }

    .topright img {
        margin: 0px 20px 0px 0px;
        width: 140px;
        height: 100px;
    }

    .box {
        width: 500px;
        height: 260px;
        padding: 40px 0px 40px 0px;
        position: absolute;
        top: 50%;
        left: 51%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        border: 2px solid transparent;
        /* padding-right: 20px; */
    }

    .middleimage img {
        margin-left: 0%;
        width: 95%;
    }

    .formprp img {
        width: 160px;
        height: 70px;
    }


}

@media screen and (max-width: 1290px) {


    body {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .box {
        width: 470px;
    }

    .submitform img {
        width: 150px;
        height: 40px;
    }

}

@media screen and (max-width: 1222px) {

    body {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }


    .box {
        /* left: 50%; */
        width: 425px;
    }

    .middleimage img {
        /* margin-left: 5%; */
        width: 100%;
    }

}

@media screen and (max-width: 1080px) {


    body {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .middleimage {
        width: 50%;
    }

    .middleform {
        width: 50%;
    }

}

@media screen and (max-width: 1079px) {

    body {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .middleform {
        width: 100%;
        margin-top: 100px;
    }

    .middlearea {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    }

    .middleimage {
        width: 100%;
        margin: 0 auto;
    }

    .middleimage img {
        padding: 0px;
        width: 95%;
        margin: 50px 20px;
    }


    .box {
        /* left: 50%; */
        width: 525px;
    }

    .toplef img {
        width: 80px;
        height: 80px;
    }

    .topright img {
        width: 120px;
        height: 85px;
    }

    .formprp img {
        width: 140px;
        height: 66px;
        margin-top: 70px;
    }

}

@media screen and (max-width: 800px) {

    .middleimage img {
        padding: 0px;
        width: 94%;
        margin: 30px 15px 0px;
    }

}

@media screen and (max-width: 560px) {

    .box {
        width: 500px;
        padding-right: 5px;
    }


}

@media screen and (max-width: 510px) {

    body {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .middleform {
        width: 100%;
        margin-top: 95px;
    }

    .middlearea {
        margin-top: 35px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    }

    .middleimage img {
        margin-left: 0%;
        padding: 0px;
        width: 96%;
        margin-left: 5px;
    }

    .middleimage {
        width: 100%;
        margin: 0 auto;
    }

    .box {
        /* left: 50%; */
        width: 430px;
    }

    .box input[type="submit"]:first-child {
        margin-left: 0px;
    }

    .box input[type="submit"] {
        margin: 0px 11px;

    }


}

@media screen and (max-width: 485px) {

    .middleimage img {
        margin-left: 0%;
        padding: 0px;
        width: 85%;
        margin-left: 27px;
    }

    .box {
        width: 375px;
        padding-right: 10px;
    }

    .topright img {
        margin: 0px 40px 0px 0px;
    }

}

@media screen and (max-width: 385px) {
    body {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }


    .box {
        left: 50%;
        width: 345px;
    }
}

@media screen and (max-width: 375px) {

    .box {
        left: 50%;
        width: 320px;
    }

    .submitform img {
        width: 100px;
        height: 30px;
    }

}

@media screen and (max-width: 320px) {

    .box {
        left: 50%;
        width: 300px;
    }

}

/*.............................*/


@media (min-width: 1200px) and (max-width: 1600px) {
    .middleform {
        margin-top: -170px;
    }
}

@media (min-width: 1600px) {
    .middleform {
        margin-top: -10px;
    }
}